<div id="question">
	<p id="notice"><%= notice %></p>

	<h1><%=@question.content%></h1>
	<center>
	<table id="results" cellpadding="0" cellspacing="0" valign="bottom">
		<tr valign="bottom">
		<% @answers.each do |answer| %>
			<td><div style="border: 3px solid #fff; height:<%=@prct[answer.id] %>px;"></div></td>
		<% end %>
		</tr>
		<tr>
		<% @answers.each do |answer| %>
			<td>
				<% if answer.content =~ /mood_[a-z]/ %>
					<%=image_tag('/images/' + answer.content + '.jpg')%>
				<% else %>
					<span><%= answer.content %> (<%= answer.votes_count %>)</span>
				<% end %>
			</td>
		<% end %>
		</tr>
	</table>
	</center>
	<!--<p>
		<%=link_to 'Back to the question', @question, :class => 'button'%>
	</p>
	-->
	<script type="text/javascript">
		setTimeout(function() { $(location).attr('href','<%=question_path(@question)%>'); }, 2000);
	</script>
</div>

